# ignore ide settings
.classpath
.project
.settings/
.idea/
*.iml

# ignore maven generate files
target/
pom.importConfig.tag
pom.importConfig.releaseBackup
pom.importConfig.versionsBackup
pom.importConfig.next
release.properties

# ignore java class
*.class

# ignore jrebel importConfig
rebel.importConfig

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.importConfig
hs_err_pid*

# ignore .DS_Store
.DS_Store
